.lpline {
    position: absolute;
    width: 190px;
    height: 0px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    margin-top: 200px;
    margin-left: 450px;
}

.titlep{
    position: absolute;
    margin-top: 230px;
    margin-left: 450px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: left;
    color: #707070;
}

.textp{
    position: absolute;
    margin-top: 255px;
    margin-left: 450px;
    margin-right: 600px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    font-weight: 200;
    width: 160px;
}