.appbox {
    position: absolute;
    width: 550px;
    height: 500px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 48px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.06));
    background: #ffffff;
    margin-top: 150px;
    margin-left: 500px;
}

.appboxtext {
    position: absolute;
    width: 779px;
    height: 25px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    font-family: var(--font-family);
    text-align: left;
    color: #a5acb9;
    margin-top: 35px;
    margin-left: 25px;
}

.appboxsel1 {
    display: flex;
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
}


.appboxseltitle {
    position: absolute;
    width: 51px;
    height: 11px;
    font-family: var(--font-family);
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    font-style: normal;
    text-align: center;
    color: rgba(12, 35, 60, 0.77);
    margin-top: 5px;
    margin-left: 0px;
}


.appboxslb1 {
    position: absolute;
    width: 50px;
    height: 22px;
    border-color: #e2e5ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    filter: drop-shadow(0px 3px 3px rgba(155, 155, 155, 0.16));
    margin-top: 40px;
    margin-left: 15px;
}

.appboxsel1text {
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    font-style: normal;
    text-align: center;
    color: rgba(12, 35, 60, 0.87);
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: none;
}

.appboxslb2 {
    position: absolute;
    width: 50px;
    height: 22px;
    border-color: #e2e5ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    filter: drop-shadow(0px 3px 3px rgba(155, 155, 155, 0.16));
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    font-style: normal;
    text-align: center;
    color: rgba(12, 35, 60, 0.87);
    margin-top: 40px;
    margin-left: 180px;
}

.appboxslb3 {
    position: absolute;
    width: 50px;
    height: 22px;
    border-color: #e2e5ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    filter: drop-shadow(0px 3px 3px rgba(155, 155, 155, 0.16));
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    font-style: normal;
    text-align: center;
    color: rgba(12, 35, 60, 0.87);
    margin-top: 40px;
    margin-left: 335px;
}

.appboxslb4 {
    position: absolute;
    width: 50px;
    height: 22px;
    border-color: #e2e5ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    filter: drop-shadow(0px 3px 3px rgba(155, 155, 155, 0.16));
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    font-style: normal;
    text-align: center;
    color: rgba(12, 35, 60, 0.87);
    margin-top: 90px;
    margin-left: 15px;
}

.appboxslb5 {
    position: absolute;
    width: 50px;
    height: 22px;
    border-color: #e2e5ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    filter: drop-shadow(0px 3px 3px rgba(155, 155, 155, 0.16));
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    font-style: normal;
    text-align: center;
    color: rgba(12, 35, 60, 0.87);
    margin-top: 90px;
    margin-left: 180px;
}

.appboxsel2 {
    display: flex;
    position: absolute;
    margin-top: 220px;
    margin-left: 50px;
}

.appboxsel3 {
    display: flex;
    position: absolute;
    margin-top: 320px;
    margin-left: 50px;
}

.appboxsel1text:hover,
.appboxsel1text:focus {
    cursor: pointer;
    color: #2cd889;

}

.appboxslb1:hover,
.appboxslb1:focus {
    cursor: pointer;
    background-color: #7ecca7;
}