.header {
    position: fixed;
    width: 100%;
    height: 6%;
    display: flex;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.logo-header {
    display: flex;
    height: 20px;
    width: 80px;
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 35px;
}

.links {
    display: flex;
    margin-top: 20px;
}

.menu {
    color: #848484;
    text-decoration: none;
    padding: -10px 15px 10px;
    min-width: 50px;
    margin: -2px 25px;
    font-size: 10px;
    font-family: var(--font-family);
}

.menu:hover {
    color: #2cd98a;
    text-decoration: underline solid;
}

.menu.active {
    text-decoration: underline;
    color: #2cd98a;
}

.leftheader {
    display: flex;
    margin-top: 2px;
    margin-left: 850px;
}

.headericon {
    position: absolute;
    width: 1px;
    height: 1px;
}

.imgpuser {
    position: absolute;
    height: 35px;
    width: 40px;
    margin-left: 70px;
    margin-top: 5px;
}

.headerline {
    position: absolute;
    width: 1px;
    height: 40px;
    background: #e5edf0;
    margin-left: 55px;
}

.iconmenu {
    position: absolute;
    width: 260px;
    height: 360px;
    display: flex;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
    background: #ffffff;
    margin-left: -150px;
    margin-top: 30px; 
}

.iconmenu h3 {
    position: absolute;
    width: 97px;
    height: 14px;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 12px;
    font-style: normal;
    text-align: center;
    color: #4d4f5c;
}

.boxicon1 {
    position: absolute;
    width: 97px;
    height: 30px;
    background: #ffffff;
    margin-top: 30px;

}

.boxicon2 {
    position: absolute;
    width: 97px;
    height: 30px;
    background: #ffffff;
    margin-top: 85px;
}

.boxicon3 {
    position: absolute;
    width: 97px;
    height: 30px;
    background: #ffffff;
    margin-top: 140px;
}

.boxicon4 {
    position: absolute;
    width: 97px;
    height: 30px;
    background: #ffffff;
    margin-top: 190px;
}

.boxicon5 {
    position: absolute;
    width: 97px;
    height: 30px;
    background: #ffffff;
    margin-top: 240px;
}

.boxicon6 {
    position: absolute;
    width: 97px;
    height: 30px;
    background: #ffffff;
    margin-top: 290px;
}

.lineicon {
    position: absolute;
    width: 230px;
    height: 1px;
    border-color: #f1f1f3;
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 10px;
}

.imgicon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.icontext {
    position: absolute;
    width: 142px;
    height: 13px;
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    text-align: left;
    color: #4d4f5c;
    margin-top: 20px;
    margin-left: 55px;
}

.icontime {
    position: absolute;
    width: 50px;
    height: 11px;
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    font-style: normal;
    text-align: left;
    color: #808495;
    margin-top: 35px;
    margin-left: 55px;
}

.endicon {
    margin-top: 345px;
    margin-left: 75px;
    font-size: 10px;
}

.imgmenu {
    position: absolute;
    width: 180px;
    height:180px;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
    margin-left: -60px;
    margin-top: 40px;
    background: #ffffff;
}

.imgbox1{
    background: #ffffff;
    position: absolute;
    display: flex;
    width: 80px;
    height: 40px;
    margin-top: 0px;
    margin-left: 45px;
}
 
.imgbox1 h5{
    
    margin-right: 5px;
}
.imgbox2{
    position: absolute;
    display: flex;
    width: 80px;
    height: 40px;
    margin-top: 45px;
    margin-left: 45px;
}

.imgbox3{
    position: absolute;
    display: flex;
    width: 80px;
    height: 40px;
    margin-top: 90px;
    margin-left: 45px;
}

.imgbox4{
    position: absolute;
    display: flex;
    width: 80px;
    height: 40px;
    margin-top: 120px;
    margin-left: 45px;

}

.imgtext{
    font-family: var(--font-family);
    font-size: 11px;
    font-weight: 40;
    line-height: 24px;
    margin-top: 22px;
    font-style: solid;
    text-align: center;
    color: #4d565c;
}

.imgline{
    position: absolute;
    width: 140px;
    height: 1px;
    margin-left: -30px;
    margin-top: 50px;
    border-color: #f1f1f3;
    border-width: 1px;
    border-style: solid;
}